<!DOCTYPE html>
<html>
  <head>
    <title>Rgallery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <%= link_to "rGallery", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <% @categories.each do |category| %>
            <li class="nav-item">
              <%= link_to category.name, category_path(category), class: "nav-link" %>
            </li>
          <% end %>
        </ul>
        <ul class="navbar-nav pull-right">
          <li class="nav-item">
            <%= link_to "Upload photo", new_image_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add Category", new_category_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>

    <section>
      <div class="container">
        <% if flash[:notice] %>
          <div class="alert alert-success">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if flash[:alert] %>
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
        <% end %>

        <%= yield %>
      </div>
      <!-- /.container -->
    </section>
  </body>
</html>
